<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="../styles/checkout.css">
</head>
<body>
    <div class="container">
        <h1>CHECKOUT</h1>
        <ul id="plansList"></ul>
        <table id="plansTable"></table>
        <p>Please review your selection and enter payment details:</p>
        <form action="confirmation.html" method="post">
            <div>
                <label for="payment">Payment Method:</label>
                <input type="radio" id="html" name="Pay_method" value="PayPal">
                <label for="PayPal">PayPal</label>
                <input type="radio" id="css" name="Pay_method" value="CC">
                <label for="CC">Credit Card</label><br>
            </div>
            <br>
            <button type="submit">Proceed to Confirmation</button>
        </form>
    </div>
    <script src="../scripts/checkoutScript.js"></script>
</body>
</html>
