<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Checkout</title>

</head>
<body>
    <h1>CHECKOUT</h1>
    <p>Please review your selection and enter payment details:</p>
    <form action="confirmation.html" method="post">
        <div>
            <label for="payment">Payment Method:</label>
            <input type="radio" id="html" name="Pay_method" value="PayPal">
            <label for="PayPal">PayPal</label>
            <input type="radio" id="css" name="Pay_method" value="CC">
            <label for="CC">Credit Card</label><br>
        </div>
        <br>
        <button type="submit">Proceed to Confirmation</button>
    </form>
</body>
</html>
