<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Order Checkout</title>
<link rel='stylesheet' href="../styles/ordercheckout.css">

</head>
<body>
    <h1 class="title">ORDER CHECK OUT</h1>
    <div class="card">
        <h3></h3>
        Plan cost spilt up
        <hr>
        Retail Price: 
        <br>
        New connection cost:
        <br>
        Modem cost:
        <br>
        Router retail cost:
        <br>
        <hr>
        Total: 

        
    </div>

    <br>
    <div class="button">
    <a href="checkout.html">
    <button>Go Back</button></a>
    <a href="ordercheckout2.html">
    <button>Place Order</button></a>
</div>

</body>



</html>