<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>POST CODE PAGE</h1>
    <form action="#" id="postcodeForm">
        <label for="postcode">Enter the Postcode: </label>
        <input type="text" id="postcode" name="postcode" placeholder="postcode" required />
        <input type="submit" value="Submit">
    </form>
    <script src="../scripts/postCodeScript.js"></script>
</body>
</html>