<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\styles\postcode.css">
</head>
<body>
    <div class="container">
        <h1>SERVICE AVAILABILITY PAGE</h1>
        <form action="#" id="postcodeForm">
            <label for="postcode">Enter the Postcode: </label>
            <input type="text" id="postcode" name="postcode" placeholder="Postcode" required />
            <br /><br />

            <input type="submit" value="Submit">
        </form>
    </div>
    <script src="../scripts/postCodeScript.js"></script>
</body>
</html>
