<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Error</title>
<link rel="stylesheet" href="../styles/common.css">
</head>
<body>
    <div class="text-center h-100vh content-center">
        <h1>Service Not Available</h1>
        <p>It seems that your address doesn’t qualify for our service. If you believe this is an error, please give us a call at <b>(519) 351-1565</b>.</p>
        <a href="postCode.html"><button class="btn back">Go Back</button> </a>
    </div>
</body>
</html>
